/* 초기화 */
*{
    margin: 0;
    padding: 0;
    font: normal 12px '돋움';
}

ul, ol{list-style: none;}
a{text-decoration: none; color: #111;}
input, textarea{outline: none;}

#wrapper{
    width: 100%;
    height: auto;
}

/* 헤더 */
header{
    width: 100%;
    height: 197px;
}

header > div{
    width: 100%;
    box-sizing: border-box;
}

header > div:nth-child(1){
    height: 35px;
    border-bottom: 1px solid #e9e9e9;
    overflow: hidden;
}
header > div:nth-child(1) > div > div{
    float: right;
    height: 100%;
    border-left: 1px solid #e9e9e9;
}
header > div:nth-child(1) > div > div > a{
    display: inline-block;
    padding: 0 10px;
    line-height: 35px;
    color: #646464;
}

header > div:nth-child(1) > div > div > a:last-child{
    border-right: 1px solid #e9e9e9;
}

header > div:nth-child(1) > div > div > a:hover{
    color: #333;
    border-bottom: 1px solid #444;  
}

header > div:nth-child(2){
    height: 115px;
    border-bottom: 1px solid #e9e9e9;
}

header > div:nth-child(2) > div{
    position: relative;
    width: 1200px;
    height: 100%;
    margin: 0 auto;
}
header > div:nth-child(2) > div > a{
    display: inline-block;
    margin-top: 30px;
}
header > div:nth-child(2) > div > form{
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -185px;
    margin-top: -22px;
    display: inline-block;
    width: 370px;
    height: 45px;   
}
header > div:nth-child(2) > div > form > input{
    position: absolute;
    width: 100%;
    height: 100%;
    border: 1px solid #000;
    border-radius: 5px;
    font-size: 20px;
    padding-left: 10px;
    padding-right: 30px;
    box-sizing: border-box;
}
header > div:nth-child(2) > div > form > button{
    position: absolute;
    right: 6px;
    top: 10px;
    background: #fff;
    border: none;
    font-size: 20px;
    color: #333;
    outline:none;
}

header > div:nth-child(3){
    height: 46px;
    background: #f2f2f2;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    box-sizing: border-box;
}

header > div:nth-child(3) > div{
    overflow: hidden;
    width: 1200px;
    height: 100%;
    padding: 15px 0;
    margin: 0 auto;
    box-sizing: border-box;
}

header > div:nth-child(3) > div > div{
    line-height: 14px;
    border-right: 1px solid #ddd;
}

header > div:nth-child(3) > div > div:first-child{
    border-left: 1px solid #ddd;
}

header > div:nth-child(3) > div > div:nth-child(10){
    border-left: 1px solid #ddd;
}

header > div:nth-child(3) > div > div.right{
    float: right;
}
header > div:nth-child(3) > div > div.left{
    float: left;
}

header > div:nth-child(3) > div > div > a{
    padding: 0 10px;
}

header > div > div{
    width: 1200px;
    height: 100%;
    box-sizing: border-box;
    margin: 0 auto;
}

/* 푸터 */
footer {
    width: 100%;
    height: 192px;
    background: #f8f8f8;
    border-top: 1px solid #e9e9e9;
    box-sizing: border-box;
}
footer > ul {
    width: 1200px;
    height: 39px;
    margin: 0 auto;
    padding: 15px 0;
    border-bottom: 1px solid #e9e9e9;
    box-sizing: border-box;
    text-align: center;
}
footer > ul > li {
    display: inline-block;
    font-weight: bold;
    border-right: 1px solid #d7d7d7;
    padding: 0 10px;
}
footer > ul > li:first-child {border-left: 1px solid #d7d7d7;}

footer > div {
    width: 1200px;
    height: 100%;
    padding-top: 20px;
    box-sizing: border-box;
    margin: 0 auto;
}

footer p {
    float: left;
    height: 100%;
    font-size: 11px;
    line-height: 15px;
    color: #676767;            
}
footer p:nth-of-type(2) {
    width: 300px;
    margin-left: 30px;
    margin-right: 30px;
}

footer p > strong {
    display: inline-block;
    padding: 6px 15px 7px 0;
    color: #464646;
    font-size: 12px;
    font-weight: bold;
}


/* 메인 공통 */
main{
    position: relative;
    width: 1200px;
    min-height: 600px;
    margin: 0 auto;
    overflow: hidden;
}

main > aside{
    position: absolute;
    left: 0;
    top: 0;
    width: 215px;
    height: 100%;
    border: 1px solid blue;
}

main > aside > ul{
    height: 425px;
    padding-top: 10px;
    background: #333949;
    box-sizing: border-box;
}

main > aside > ul > li{
    width: 100%;
    height: 40px;
    padding: 0 20px;
    line-height: 40px;
    border-bottom: 1px solid #2b313f;
    color: #fff;
    font-weight: bold;
    text-align: left;
    font-size: 1em;
    box-sizing: border-box;
}
main > aside > ul > li > a{
    color: #ccc;
}

main > section{
    float: right;
    width: 985px;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
}

/* index */
#main > section{
    width: 100%;
    min-height: 700px;
    padding: 10px;
    box-sizing: border-box;
    overflow: hidden;
}

#main > section > h1 > a{
    font-weight: bold;
    font-size: 1.5em;
    font-family: 'Malgun Gothic', dotum, sans-serif;
    margin: 10px;
    padding: 0 0 7px;
    border-bottom: 2px solid #000;
    line-height: 1em;
}

#main > section > a > h2{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 15px;
    margin-top: 4px;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

#main > section > article > a > p{
    color: #222;
    font-size: 12px;
    line-height: 16px;
    margin: 4px 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

#main > section > article{
    float: left;
    width: 25%;
    min-height: 300px;
}

#main > section > article > a{
    width: 100%;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
}

#main > .slider{
    min-height: initial;
    height: 425px;
}

/* 상품(product) 공통 */
main > section > nav{
    width: 100%;
    height: 36px;
    margin-bottom: 20px;
    border-bottom: 1px solid #000;
    box-sizing: border-box;
    overflow: hidden;
}
main > section > nav > h1{
    display: inline-block;
    font-size: 1.5em;
    font-weight: bold;
    font-family: 'Noto Sans KR', dotum, sans-serif;
    padding: 0 0 7px;
    line-height: 1em;
}
main > section > nav > p{
    float: right;
    margin-top: 10px;
}
main > section > nav > p > span{}
main > section > nav > p > strong{
    font-weight: bold;
}




  /* 상품 장바구니(cart) */
  #product-cart{}

  #product-cart > section{
      width: 100%;
      box-sizing: border-box;
  }
  #product-cart > section > form{}
  #product-cart > section > form > table{
      width: 100%;
      border-bottom: 1px solid #d3d3d3;
      border-collapse: collapse;
      border-spacing: 0;
      margin-top: 20px;
  }
  #product-cart > section > form > table >thead{}
  #product-cart > section > form > table >thead > tr{}
  #product-cart > section > form > table >thead > tr > th{
      padding: 12px 0;
      border-top: 2px solid #000;
      border-bottom: 1px solid #d3d3d3;
      color: #383838;
      font-size: 0.95em;
      text-align: center;
      letter-spacing: -0.1em;
  }
  #product-cart > section > form > table > thead > tr > th:first-child{width: 60px;}
  #product-cart > section > form > table > tbody{}
  #product-cart > section > form > table > tbody > tr{}
  #product-cart > section > form > table > tbody > .empty{display: none;}
  #product-cart > section > form > table > tbody > tr > td{text-align: center;}
  #product-cart > section > form > table > tbody > tr > td:first-child{width: 60px;}
  #product-cart > section > form > table > tbody > tr > td > article{overflow: hidden;}
  #product-cart > section > form > table > tbody > tr > td > article > a{float: left;}
  #product-cart > section > form > table > tbody > tr > td > article > a > img{width: 80px;}
  #product-cart > section > form > table > tbody > tr > td > article > div{
      float: left;
      margin-top: 10px;
  }
  #product-cart > section > form > table > tbody > tr > td > article > div > h2{}
  #product-cart > section > form > table > tbody > tr > td > article > div > h2 > a{
      font-size: 15px;
      font-family: 'Malgun Gothic', dotum, sans-serif;
  }
  #product-cart > section > form > table > tbody > tr > td > article > div > p{
      text-align: left;
      color: #777;
      margin-top: 4px;
  }
  #product-cart > section > form > table > tbody > tr:nth-child(2) > td:nth-child(8){
      color: #ff006c;
      font-weight: bold;
  }
  #product-cart > section > form > input{
      border-color: #dbdbdb;
      border-bottom-color: #828282;
      background: #fafafa;
      color: #4d4d4d;
      padding: 6px 11px;
      border-width: 1px;
      margin-top: 6px;
  }
  
  #product-cart > div{
      float: right;
      width: 360px;
      height: 412px;
      padding: 20px;
      background: #fff;
      border: 1px solid #d3d3d3;
      box-sizing: border-box;
  }
  #product-cart > div *{font-weight: bold;}
  #product-cart > div > h2{
      width: 100%;
      font-weight: bold;
      font-size: 16px;
      border-bottom: 1px solid #111;
      margin-bottom: 10px;
      padding-bottom: 10px;
      box-sizing: border-box;
      color: #1e1e1e;
  }
  #product-cart > div > table{width: 100%;}
  #product-cart > div > table > tr{}
  #product-cart > div > table td{
      padding: 10px 0;
      font-size: 14px;
      color: #555;
  }
  #product-cart > div > table > tbody > tr:nth-child(6) > td:nth-child(1){font-size: 20px;}
  #product-cart > div > table td:nth-child(2){text-align: right;}
  #product-cart > div > table > tbody > tr:nth-child(6) > td:nth-child(2){
      color: #ff006c;
      font-size: 20px;
      font-weight: bold;
  }
  #product-cart > div > input{
      width: 100%;
      height: 56px;
      font-size: 26px;
      border-width: 1px;
      border-color: #d81818;
      border-bottom-color: #9e1212;
      background-image: -webkit-linear-gradient(#ed2f2f,#dd0e0e);
      color: #fff;
      box-sizing: border-box;
      margin-top: 10px;
  }
      /* 상품 주문(order) */
    #product-order{}

    #product-order > section{
        width: 100%;
        box-sizing: border-box;
    }
    #product-order > section > form{}
    #product-order > section > form > div > table{
        width: 100%;
        border-collapse: collapse;
        border-spacing: 0;
        margin-top: 20px;
    }
    #product-order > section > form > div > table >thead{}
    #product-order > section > form > div > table >thead > tr{}
    #product-order > section > form > div > table >thead > tr > th{
        padding: 12px 0;
        border-top: 2px solid #000;
        border-bottom: 1px solid #d3d3d3;
        color: #383838;
        font-size: 0.95em;
        text-align: center;
        letter-spacing: -0.1em;
    }
    #product-order > section > form > div > table > tbody{}
    #product-order > section > form > div > table > tbody > tr{
        border-bottom: 1px solid #d3d3d3;
    }
    #product-order > section > form > div > table > tbody > .empty{display: none;}
    #product-order > section > form > div > table > tbody > tr > td{text-align: center;}
    #product-order > section > form > div > table > tbody > tr > td > article{overflow: hidden;}
    #product-order > section > form > div > table > tbody > tr > td > article > a{float: left;}
    #product-order > section > form > div > table > tbody > tr > td > article > a > img{width: 80px;}
    #product-order > section > form > div > table > tbody > tr > td > article > div{
        float: left;
        margin-top: 10px;
    }
    #product-order > section > form > div > table > tbody > tr > td > article > div > h2{}
    #product-order > section > form > div > table > tbody > tr > td > article > div > h2 > a{
        font-size: 15px;
        font-family: 'Malgun Gothic', dotum, sans-serif;
    }
    #product-order > section > form > div > table > tbody > tr > td > article > div > p{
        text-align: left;
        color: #777;
        margin-top: 4px;
    }
    #product-order > section > form > div > table > tbody > tr > td:nth-child(8){
        color: #ff006c;
        font-weight: bold;
    }

    #product-order > section > form > section{
        position: relative;
        width: 100%;
        height: auto;
        margin-top: 10px;
    }
    #product-order > section > form > section > article{
        width: 560px;
        height: auto;
        margin-bottom: 10px;
    }
    #product-order > section > form > section > article:nth-child(4){
        background-color: #f7f7f7;
        padding: 6px;
        padding-left: 20px;
        color: #999;
        box-sizing: border-box;
    }
    #product-order > section > form > section > article > h1{
        font-weight: bold;
        font-size: 14px;
        padding: 6px 0;
        border-bottom: 1px solid #111;
    }
    #product-order > section > form > section > article > div{
        padding: 6px;
        box-sizing: border-box;
    }
    #product-order > section > form > section > article > div > label{
        display: block;
        padding: 4px 0;
    }
    #product-order > section > form > section > article > div > label > input{
        color: #555;
        font-weight: bold;
        outline: none;
        padding: 2px 0;
    }
    #product-order > section > form > section > article:nth-child(1) > div:nth-child(2) > label:nth-child(2) > span{
        margin-left: 10px;
        color: #888;
    }
    #product-order > section > form > section > article:nth-child(1) > div:nth-child(3) > label:nth-child(1) > input:nth-child(2){
        padding: 4px 6px;
        border: 1px solid #ccc;
        background-color: #f0f4f9;
        border-color: #acc0e0;
        color: #3371c9;
        outline: none;
    }
    #product-order > section > form > section > article:nth-child(1) > div:nth-child(3) > label:nth-child(2) > input{width: 400px;}
    #product-order > section > form > section > article:nth-child(1) > div:nth-child(3) > label:nth-child(3) > input{width: 400px;}
    #product-order > section > form > section > article:nth-child(2) > div{}
    #product-order > section > form > section > article:nth-child(2) > div > p{float: left;}
    #product-order > section > form > section > article:nth-child(2) > div > p > span{}
    #product-order > section > form > section > article:nth-child(2) > div > label{float: right;}
    #product-order > section > form > section > article:nth-child(2) > div > label > input:nth-child(1){
        display: inline-block;
        outline: none;
    }
    #product-order > section > form > section > article:nth-child(2) > div > label > input:nth-child(2){
        padding: 4px 6px;
        border: 1px solid #ccc;
        background-color: #f0f4f9;
        border-color: #acc0e0;
        color: #3371c9;
        outline: none;
    }
    #product-order > section > form > section > article:nth-child(2) > div > span{
        display: block;
        margin-top: 20px;
        color: #888;
    }
    #product-order > section > form > section > article:nth-child(3) > div{margin-bottom: 10px;}
    #product-order > section > form > section > article:nth-child(3) > div > span{
        display: inline-block;
        color: #3a85c8;
        margin: 6px 0;
    }
    #product-order > section > form > section > article:nth-child(3) > div > p{}
    #product-order > section > form > section > article:nth-child(3) > div > p > label{margin-right: 16px;}
    #product-order > section > form > section > article:nth-child(3) > div > p > label > input{
        vertical-align: bottom;
        margin-right: 4px;
    }

    #product-order > section > form > section > article > div > label > span{}
    #product-order > section > form > section > article > ul{list-style: inherit;}
    #product-order > section > form > section > article > ul > li{line-height: 20px;}
    #product-order > section > form > section > article > ul > li > span{left: -6px;}

    #product-order > section > form > section > div{
        position: absolute;
        right: 0;
        top: 26px;
        width: 360px;
        height: 412px;
        padding: 20px;
        background: #fff;
        border: 1px solid #d3d3d3;
        box-sizing: border-box;
    }
    #product-order > section > form > section > div *{font-weight: bold;}
    #product-order > section > form > section > div > h2{
        width: 100%;
        font-weight: bold;
        font-size: 16px;
        border-bottom: 1px solid #111;
        margin-bottom: 10px;
        padding-bottom: 10px;
        box-sizing: border-box;
        color: #1e1e1e;
    }
    #product-order > section > form > section > div > table{width: 100%;}
    #product-order > section > form > section > div > table > tr{}
    #product-order > section > form > section > div > table td{
        padding: 10px 0;
        font-size: 14px;
        color: #555;
    }
    #product-order > section > form > section > div > table > tbody > tr:nth-child(6) > td:nth-child(1){font-size: 20px;}
    #product-order > section > form > section > div > table td:nth-child(2){text-align: right;}
    #product-order > section > form > section > div > table > tbody > tr:nth-child(6) > td:nth-child(2){
        color: #ff006c;
        font-size: 20px;
        font-weight: bold;
    }
    #product-order > section > form > section > div > input{
        width: 100%;
        height: 56px;
        font-size: 26px;
        border-width: 1px;
        border-color: #d81818;
        border-bottom-color: #9e1212;
        background-image: -webkit-linear-gradient(#ed2f2f,#dd0e0e);
        color: #fff;
        box-sizing: border-box;
        margin-top: 10px;
}

/* 상품 주문(order) */
#product-order{}

#product-order > section{
    width: 100%;
    box-sizing: border-box;
}
#product-order > section > form{}
#product-order > section > form > div > table{
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    margin-top: 20px;
}
#product-order > section > form > div > table >thead{}
#product-order > section > form > div > table >thead > tr{}
#product-order > section > form > div > table >thead > tr > th{
    padding: 12px 0;
    border-top: 2px solid #000;
    border-bottom: 1px solid #d3d3d3;
    color: #383838;
    font-size: 0.95em;
    text-align: center;
    letter-spacing: -0.1em;
}
#product-order > section > form > div > table > tbody{}
#product-order > section > form > div > table > tbody > tr{
    border-bottom: 1px solid #d3d3d3;
}
#product-order > section > form > div > table > tbody > .empty{display: none;}
#product-order > section > form > div > table > tbody > tr > td{text-align: center;}
#product-order > section > form > div > table > tbody > tr > td > article{overflow: hidden;}
#product-order > section > form > div > table > tbody > tr > td > article > a{float: left;}
#product-order > section > form > div > table > tbody > tr > td > article > a > img{width: 80px;}
#product-order > section > form > div > table > tbody > tr > td > article > div{
    float: left;
    margin-top: 10px;
}
#product-order > section > form > div > table > tbody > tr > td > article > div > h2{}
#product-order > section > form > div > table > tbody > tr > td > article > div > h2 > a{
    font-size: 15px;
    font-family: 'Malgun Gothic', dotum, sans-serif;
}
#product-order > section > form > div > table > tbody > tr > td > article > div > p{
    text-align: left;
    color: #777;
    margin-top: 4px;
}
#product-order > section > form > div > table > tbody > tr > td:nth-child(8){
    color: #ff006c;
    font-weight: bold;
}

#product-order > section > form > section{
    position: relative;
    width: 100%;
    height: auto;
    margin-top: 10px;
}
#product-order > section > form > section > article{
    width: 560px;
    height: auto;
    margin-bottom: 10px;
}
#product-order > section > form > section > article:nth-child(4){
    background-color: #f7f7f7;
    padding: 6px;
    padding-left: 20px;
    color: #999;
    box-sizing: border-box;
}
#product-order > section > form > section > article > h1{
    font-weight: bold;
    font-size: 14px;
    padding: 6px 0;
    border-bottom: 1px solid #111;
}
#product-order > section > form > section > article > div{
    padding: 6px;
    box-sizing: border-box;
}
#product-order > section > form > section > article > div > label{
    display: block;
    padding: 4px 0;
}
#product-order > section > form > section > article > div > label > input{
    color: #555;
    font-weight: bold;
    outline: none;
    padding: 2px 0;
}
#product-order > section > form > section > article:nth-child(1) > div:nth-child(2) > label:nth-child(2) > span{
    margin-left: 10px;
    color: #888;
}
#product-order > section > form > section > article:nth-child(1) > div:nth-child(3) > label:nth-child(1) > input:nth-child(2){
    padding: 4px 6px;
    border: 1px solid #ccc;
    background-color: #f0f4f9;
    border-color: #acc0e0;
    color: #3371c9;
    outline: none;
}
#product-order > section > form > section > article:nth-child(1) > div:nth-child(3) > label:nth-child(2) > input{width: 400px;}
#product-order > section > form > section > article:nth-child(1) > div:nth-child(3) > label:nth-child(3) > input{width: 400px;}
#product-order > section > form > section > article:nth-child(2) > div{}
#product-order > section > form > section > article:nth-child(2) > div > p{float: left;}
#product-order > section > form > section > article:nth-child(2) > div > p > span{}
#product-order > section > form > section > article:nth-child(2) > div > label{float: right;}
#product-order > section > form > section > article:nth-child(2) > div > label > input:nth-child(1){
    display: inline-block;
    outline: none;
}
#product-order > section > form > section > article:nth-child(2) > div > label > input:nth-child(2){
    padding: 4px 6px;
    border: 1px solid #ccc;
    background-color: #f0f4f9;
    border-color: #acc0e0;
    color: #3371c9;
    outline: none;
}
#product-order > section > form > section > article:nth-child(2) > div > span{
    display: block;
    margin-top: 20px;
    color: #888;
}
#product-order > section > form > section > article:nth-child(3) > div{margin-bottom: 10px;}
#product-order > section > form > section > article:nth-child(3) > div > span{
    display: inline-block;
    color: #3a85c8;
    margin: 6px 0;
}
#product-order > section > form > section > article:nth-child(3) > div > p{}
#product-order > section > form > section > article:nth-child(3) > div > p > label{margin-right: 16px;}
#product-order > section > form > section > article:nth-child(3) > div > p > label > input{
    vertical-align: bottom;
    margin-right: 4px;
}

#product-order > section > form > section > article > div > label > span{}
#product-order > section > form > section > article > ul{list-style: inherit;}
#product-order > section > form > section > article > ul > li{line-height: 20px;}
#product-order > section > form > section > article > ul > li > span{left: -6px;}

#product-order > section > form > section > div{
    position: absolute;
    right: 0;
    top: 26px;
    width: 360px;
    height: 412px;
    padding: 20px;
    background: #fff;
    border: 1px solid #d3d3d3;
    box-sizing: border-box;
}
#product-order > section > form > section > div *{font-weight: bold;}
#product-order > section > form > section > div > h2{
    width: 100%;
    font-weight: bold;
    font-size: 16px;
    border-bottom: 1px solid #111;
    margin-bottom: 10px;
    padding-bottom: 10px;
    box-sizing: border-box;
    color: #1e1e1e;
}
#product-order > section > form > section > div > table{width: 100%;}
#product-order > section > form > section > div > table > tr{}
#product-order > section > form > section > div > table td{
    padding: 10px 0;
    font-size: 14px;
    color: #555;
}
#product-order > section > form > section > div > table > tbody > tr:nth-child(6) > td:nth-child(1){font-size: 20px;}
#product-order > section > form > section > div > table td:nth-child(2){text-align: right;}
#product-order > section > form > section > div > table > tbody > tr:nth-child(6) > td:nth-child(2){
    color: #ff006c;
    font-size: 20px;
    font-weight: bold;
}
#product-order > section > form > section > div > input{
    width: 100%;
    height: 56px;
    font-size: 26px;
    border-width: 1px;
    border-color: #d81818;
    border-bottom-color: #9e1212;
    background-image: -webkit-linear-gradient(#ed2f2f,#dd0e0e);
    color: #fff;
    box-sizing: border-box;
    margin-top: 10px;
}